/*TILT*/
        .tilt {
          -webkit-transition: all 0.5s ease;
             -moz-transition: all 0.5s ease;
               -o-transition: all 0.5s ease;
              -ms-transition: all 0.5s ease;
                  transition: all 0.5s ease;
        }
         
        .tilt:hover {
          -webkit-transform: rotate(-15deg);
             -moz-transform: rotate(-15deg);
               -o-transform: rotate(-15deg);
              -ms-transform: rotate(-15deg);
                  transform: rotate(-15deg);
        }

#login{
	text-align: center;
	padding-top: 10%;
}

#boton{
	float: left;
	height: 70px;
}

.botonSubmit {
	-moz-box-shadow:inset 0px 1px 0px 0px #7279BA;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7279BA;
	box-shadow:inset 0px 1px 0px 0px #7279BA;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7279BA), color-stop(1, #4D5FAB));
	background:-moz-linear-gradient(top, #7279BA 5%, #4D5FAB 100%);
	background:-webkit-linear-gradient(top, #7279BA 5%, #4D5FAB 100%);
	background:-o-linear-gradient(top, #7279BA 5%, #4D5FAB 100%);
	background:-ms-linear-gradient(top, #7279BA 5%, #4D5FAB 100%);
	background:linear-gradient(to bottom, #7279BA 5%, #4D5FAB 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7279BA', endColorstr='#4D5FAB',GradientType=0);
	background-color:#7279BA;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #4D5FAB;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	padding:6px 72px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4D5FAB;
	height: 50px;
	/* margin-left: 3px; */
}
.botonSubmit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4D5FAB), color-stop(1, #7279BA));
	background:-moz-linear-gradient(top, #4D5FAB 5%, #7279BA 100%);
	background:-webkit-linear-gradient(top, #4D5FAB 5%, #7279BA 100%);
	background:-o-linear-gradient(top, #4D5FAB 5%, #7279BA 100%);
	background:-ms-linear-gradient(top, #4D5FAB 5%, #7279BA 100%);
	background:linear-gradient(to bottom, #4D5FAB 5%, #7279BA 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D5FAB', endColorstr='#7279BA',GradientType=0);
	background-color:#4D5FAB;
}
.botonSubmit:active {
	position:relative;
	top:1px;
}
#pagina{
	background-color: #292929;
}
.link-negro{
	color:#444;
}
.link-negro:hover{
	color:#000;
}

.noticiaborde{
	border-radius: 20px 20px 20px 20px;
	background-color: #E79825;
}
.noticiatitulo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-indent: 1em;
}
.noticiatexto{
	font-style: oblique;
	background-color: #FFF6B0;
	text-indent: 0.5em;
}