assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
themes/classic/views/
protected/config/*.php
/*.php
/nbproject/private/
protected/config/database.php
protected/runtime/application.log
protected/runtime/application.log
protected/runtime/application.log